<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5JT1Bs
			YXRmb3JtVGhlcm1hbFByb2ZpbGU8L2tleT4KICAgIDxkaWN0Pgog
			ICAgICA8a2V5PkNyZWF0aW9uRGF0ZTwva2V5PgogICAgICA8c3Ry
			aW5nPlRodSBBdWcgMTkgMTc6NDA6MzQgUERUIDIwMTA8L3N0cmlu
			Zz4KICAgICAgPGtleT5GYW5UaHJvdHRsZWRSUE08L2tleT4KICAg
			ICAgPGludGVnZXI+MzUwMDwvaW50ZWdlcj4KICAgICAgPGtleT5G
			YW5NYXg8L2tleT4KICAgICAgPGFycmF5PgogICAgICAgIDxpbnRl
			Z2VyPjYyMDA8L2ludGVnZXI+CiAgICAgICAgPGludGVnZXI+NjIw
			MDwvaW50ZWdlcj4KICAgICAgPC9hcnJheT4KICAgICAgPGtleT5D
			b25maWdBcnJheTwva2V5PgogICAgICA8YXJyYXk+CiAgICAgICAg
			PGRpY3Q+CiAgICAgICAgICA8a2V5Pm1vZGVsPC9rZXk+CiAgICAg
			ICAgICA8c3RyaW5nPk1hY0Jvb2tQcm84LDM8L3N0cmluZz4KICAg
			ICAgICAgIDxrZXk+RGVlcFNsZWVwPC9rZXk+CiAgICAgICAgICA8
			ZmFsc2UvPgogICAgICAgICAgPGtleT5JT1BsYXRmb3JtU3lzdGVt
			U2xlZXBQb2xpY3k8L2tleT4KICAgICAgICAgIDxkYXRhPlUweFFW
			QUVBQmdBZ0FBQUFJQUFBQUFFQUFBQUZCUUFBQ0FBQUFBZ0FBQUFC
			QUFBQUFBRUFBTlFIQUFBUUFBQUFBUUFBQUFVRkFBREZCd0FBQVFB
			QUFBRUFBQUFGQlFBQXhBY0FBQUFBQUFBQ0FBQUFEUmtBQUFBQUFB
			QUFBQUFBQUFBQUFBMFJBQUE9PC9kYXRhPgogICAgICAgICAgPGtl
			eT5yaW5nRnJlcVRhYmxlczwva2V5PgogICAgICAgICAgPGFycmF5
			PgogICAgICAgICAgICA8YXJyYXk+CiAgICAgICAgICAgICAgPGRp
			Y3Q+CiAgICAgICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5Pgog
			ICAgICAgICAgICAgICAgPGludGVnZXI+NzAwPC9pbnRlZ2VyPgog
			ICAgICAgICAgICAgICAgPGtleT5yaW5nRnJlcTwva2V5PgogICAg
			ICAgICAgICAgICAgPGludGVnZXI+MTEwMDwvaW50ZWdlcj4KICAg
			ICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGRpY3Q+
			CiAgICAgICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAg
			ICAgICAgICAgICAgPGludGVnZXI+NzUwPC9pbnRlZ2VyPgogICAg
			ICAgICAgICAgICAgPGtleT5yaW5nRnJlcTwva2V5PgogICAgICAg
			ICAgICAgICAgPGludGVnZXI+MTEwMDwvaW50ZWdlcj4KICAgICAg
			ICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGRpY3Q+CiAg
			ICAgICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAg
			ICAgICAgICAgPGludGVnZXI+ODAwPC9pbnRlZ2VyPgogICAgICAg
			ICAgICAgICAgPGtleT5yaW5nRnJlcTwva2V5PgogICAgICAgICAg
			ICAgICAgPGludGVnZXI+MTIwMDwvaW50ZWdlcj4KICAgICAgICAg
			ICAgICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAg
			ICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAg
			ICAgICAgPGludGVnZXI+ODUwPC9pbnRlZ2VyPgogICAgICAgICAg
			ICAgICAgPGtleT5yaW5nRnJlcTwva2V5PgogICAgICAgICAgICAg
			ICAgPGludGVnZXI+MTMwMDwvaW50ZWdlcj4KICAgICAgICAgICAg
			ICA8L2RpY3Q+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAg
			ICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICAg
			ICAgPGludGVnZXI+OTAwPC9pbnRlZ2VyPgogICAgICAgICAgICAg
			ICAgPGtleT5yaW5nRnJlcTwva2V5PgogICAgICAgICAgICAgICAg
			PGludGVnZXI+MTYwMDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8
			L2RpY3Q+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAg
			ICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICAgICAg
			PGludGVnZXI+OTUwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAg
			PGtleT5yaW5nRnJlcTwva2V5PgogICAgICAgICAgICAgICAgPGlu
			dGVnZXI+MTcwMDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2Rp
			Y3Q+CiAgICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAg
			ICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICAgICAgPGlu
			dGVnZXI+MTAwMDwvaW50ZWdlcj4KICAgICAgICAgICAgICAgIDxr
			ZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRl
			Z2VyPjE4MDA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0
			PgogICAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgICAg
			PGtleT5ndEZyZXE8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRl
			Z2VyPjEwNTA8L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5
			PnJpbmdGcmVxPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdl
			cj4xOTAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4K
			ICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxr
			ZXk+Z3RGcmVxPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdl
			cj4xMTAwPC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5y
			aW5nRnJlcTwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+
			MjAwMDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAg
			ICAgICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5
			Pmd0RnJlcTwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+
			MTE1MDwvaW50ZWdlcj4KICAgICAgICAgICAgICAgIDxrZXk+cmlu
			Z0ZyZXE8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjIx
			MDA8L2ludGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAg
			ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5n
			dEZyZXE8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjEy
			MDA8L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5PnJpbmdG
			cmVxPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yMjAw
			PC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAg
			ICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+Z3RG
			cmVxPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4xMjUw
			PC9pbnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5yaW5nRnJl
			cTwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjMwMDwv
			aW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAg
			ICAgICAgPGRpY3Q+CiAgICAgICAgICAgICAgICA8a2V5Pmd0RnJl
			cTwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MTMwMDwv
			aW50ZWdlcj4KICAgICAgICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8
			L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjIzMDA8L2lu
			dGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAg
			ICA8L2FycmF5PgogICAgICAgICAgPC9hcnJheT4KICAgICAgICA8
			L2RpY3Q+CiAgICAgIDwvYXJyYXk+CiAgICAgIDxrZXk+Q29udHJv
			bEFycmF5PC9rZXk+CiAgICAgIDxhcnJheT4KICAgICAgICA8ZGlj
			dD4KICAgICAgICAgIDxrZXk+RGVzYy1LZXk8L2tleT4KICAgICAg
			ICAgIDxzdHJpbmc+Q1BVX1BMSU1JVDwvc3RyaW5nPgogICAgICAg
			ICAgPGtleT5JT0NsYXNzPC9rZXk+CiAgICAgICAgICA8c3RyaW5n
			PkFwcGxlU01DQ29udHJvbDwvc3RyaW5nPgogICAgICAgICAgPGtl
			eT5jb250cm9sLWZsYWdzPC9rZXk+CiAgICAgICAgICA8aW50ZWdl
			cj4yPC9pbnRlZ2VyPgogICAgICAgICAgPGtleT5jb250cm9sLWlk
			PC9rZXk+CiAgICAgICAgICA8aW50ZWdlcj4xMDwvaW50ZWdlcj4K
			ICAgICAgICAgIDxrZXk+bG9jYXRpb248L2tleT4KICAgICAgICAg
			IDxzdHJpbmc+Y3B1IHBsaW1pdDwvc3RyaW5nPgogICAgICAgICAg
			PGtleT50eXBlPC9rZXk+CiAgICAgICAgICA8c3RyaW5nPnNtYzwv
			c3RyaW5nPgogICAgICAgIDwvZGljdD4KICAgICAgICA8ZGljdD4K
			ICAgICAgICAgIDxrZXk+RGVzYy1LZXk8L2tleT4KICAgICAgICAg
			IDxzdHJpbmc+Q1BVX1NUQVRFPC9zdHJpbmc+CiAgICAgICAgICA8
			a2V5PklPQ2xhc3M8L2tleT4KICAgICAgICAgIDxzdHJpbmc+QXBw
			bGVTTUNDb250cm9sPC9zdHJpbmc+CiAgICAgICAgICA8a2V5PmNv
			bnRyb2wtZmxhZ3M8L2tleT4KICAgICAgICAgIDxpbnRlZ2VyPjI8
			L2ludGVnZXI+CiAgICAgICAgICA8a2V5PmNvbnRyb2wtaWQ8L2tl
			eT4KICAgICAgICAgIDxpbnRlZ2VyPjEzPC9pbnRlZ2VyPgogICAg
			ICAgICAgPGtleT5sb2NhdGlvbjwva2V5PgogICAgICAgICAgPHN0
			cmluZz5jcHUgc3RhdGU8L3N0cmluZz4KICAgICAgICAgIDxrZXk+
			dHlwZTwva2V5PgogICAgICAgICAgPHN0cmluZz5zbWM8L3N0cmlu
			Zz4KICAgICAgICA8L2RpY3Q+CiAgICAgICAgPGRpY3Q+CiAgICAg
			ICAgICA8a2V5PkRlc2MtS2V5PC9rZXk+CiAgICAgICAgICA8c3Ry
			aW5nPklETEVfUExJTUlUPC9zdHJpbmc+CiAgICAgICAgICA8a2V5
			PklPQ2xhc3M8L2tleT4KICAgICAgICAgIDxzdHJpbmc+QXBwbGVT
			TUNDb250cm9sPC9zdHJpbmc+CiAgICAgICAgICA8a2V5PmNvbnRy
			b2wtZmxhZ3M8L2tleT4KICAgICAgICAgIDxpbnRlZ2VyPjI8L2lu
			dGVnZXI+CiAgICAgICAgICA8a2V5PmNvbnRyb2wtaWQ8L2tleT4K
			ICAgICAgICAgIDxpbnRlZ2VyPjE1PC9pbnRlZ2VyPgogICAgICAg
			ICAgPGtleT5sb2NhdGlvbjwva2V5PgogICAgICAgICAgPHN0cmlu
			Zz5pZGxlIGxpbWl0PC9zdHJpbmc+CiAgICAgICAgICA8a2V5PnR5
			cGU8L2tleT4KICAgICAgICAgIDxzdHJpbmc+c21jPC9zdHJpbmc+
			CiAgICAgICAgPC9kaWN0PgogICAgICAgIDxkaWN0PgogICAgICAg
			ICAgPGtleT5EZXNjLUtleTwva2V5PgogICAgICAgICAgPHN0cmlu
			Zz5HUFVfUkFOR0VfQ09OVFJPTF9JTlRFUk5BTDwvc3RyaW5nPgog
			ICAgICAgICAgPGtleT5JT0NsYXNzPC9rZXk+CiAgICAgICAgICA8
			c3RyaW5nPklPUGxhdGZvcm1Db250cm9sPC9zdHJpbmc+CiAgICAg
			ICAgICA8a2V5PmNvbnRyb2wtZmxhZ3M8L2tleT4KICAgICAgICAg
			IDxpbnRlZ2VyPjI8L2ludGVnZXI+CiAgICAgICAgICA8a2V5PmNv
			bnRyb2wtaWQ8L2tleT4KICAgICAgICAgIDxpbnRlZ2VyPjE2PC9p
			bnRlZ2VyPgogICAgICAgICAgPGtleT5sb2NhdGlvbjwva2V5Pgog
			ICAgICAgICAgPHN0cmluZz5ncHUtaW50ZXJuYWw8L3N0cmluZz4K
			ICAgICAgICAgIDxrZXk+dHlwZTwva2V5PgogICAgICAgICAgPHN0
			cmluZz5ncHUtY29udHJvbDwvc3RyaW5nPgogICAgICAgIDwvZGlj
			dD4KICAgICAgICA8ZGljdD4KICAgICAgICAgIDxrZXk+RGVzYy1L
			ZXk8L2tleT4KICAgICAgICAgIDxzdHJpbmc+R1BVX1JBTkdFX0NP
			TlRST0xfRVhURVJOQUw8L3N0cmluZz4KICAgICAgICAgIDxrZXk+
			SU9DbGFzczwva2V5PgogICAgICAgICAgPHN0cmluZz5JT1BsYXRm
			b3JtQ29udHJvbDwvc3RyaW5nPgogICAgICAgICAgPGtleT5jb250
			cm9sLWZsYWdzPC9rZXk+CiAgICAgICAgICA8aW50ZWdlcj4yPC9p
			bnRlZ2VyPgogICAgICAgICAgPGtleT5jb250cm9sLWlkPC9rZXk+
			CiAgICAgICAgICA8aW50ZWdlcj4xNzwvaW50ZWdlcj4KICAgICAg
			ICAgIDxrZXk+bG9jYXRpb248L2tleT4KICAgICAgICAgIDxzdHJp
			bmc+Z3B1LWV4dGVybmFsPC9zdHJpbmc+CiAgICAgICAgICA8a2V5
			PnR5cGU8L2tleT4KICAgICAgICAgIDxzdHJpbmc+Z3B1LWNvbnRy
			b2w8L3N0cmluZz4KICAgICAgICA8L2RpY3Q+CiAgICAgIDwvYXJy
			YXk+CiAgICAgIDxrZXk+Q3RybExvb3BBcnJheTwva2V5PgogICAg
			ICA8YXJyYXk+CiAgICAgICAgPGRpY3Q+CiAgICAgICAgICA8a2V5
			PkRlc2NyaXB0aW9uPC9rZXk+CiAgICAgICAgICA8c3RyaW5nPlNN
			Q19DUFVfQ29udHJvbF9Mb29wPC9zdHJpbmc+CiAgICAgICAgICA8
			a2V5PklPQ2xhc3M8L2tleT4KICAgICAgICAgIDxzdHJpbmc+QUNQ
			SV9TTUNfQ3RybExvb3A8L3N0cmluZz4KICAgICAgICAgIDxrZXk+
			UExpbWl0Q2xhc3M8L2tleT4KICAgICAgICAgIDxhcnJheT4KICAg
			ICAgICAgICAgPHN0cmluZz5DUFU8L3N0cmluZz4KICAgICAgICAg
			IDwvYXJyYXk+CiAgICAgICAgICA8a2V5Pk1ldGFTdGF0ZUFycmF5
			PC9rZXk+CiAgICAgICAgICA8YXJyYXk+CiAgICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICAgIDxrZXk+RGVzY3JpcHRpb248L2tl
			eT4KICAgICAgICAgICAgICA8c3RyaW5nPk5vcm1hbDwvc3RyaW5n
			PgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgIDxkaWN0
			PgogICAgICAgICAgICAgIDxrZXk+RGVzY3JpcHRpb248L2tleT4K
			ICAgICAgICAgICAgICA8c3RyaW5nPlJlZHVjZWQgUG93ZXI8L3N0
			cmluZz4KICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8
			ZGljdD4KICAgICAgICAgICAgICA8a2V5PkRlc2NyaXB0aW9uPC9r
			ZXk+CiAgICAgICAgICAgICAgPHN0cmluZz5Vc2VyIExvdyBQb3dl
			cjwvc3RyaW5nPgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAg
			ICAgIDxkaWN0PgogICAgICAgICAgICAgIDxrZXk+RGVzY3JpcHRp
			b248L2tleT4KICAgICAgICAgICAgICA8c3RyaW5nPlVzZXIgSGln
			aCBQb3dlcjwvc3RyaW5nPgogICAgICAgICAgICA8L2RpY3Q+CiAg
			ICAgICAgICA8L2FycmF5PgogICAgICAgICAgPGtleT5QTGltaXRE
			aWN0PC9rZXk+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAg
			PGtleT5NYWNCb29rUHJvOCwzPC9rZXk+CiAgICAgICAgICAgIDxp
			bnRlZ2VyPjA8L2ludGVnZXI+CiAgICAgICAgICA8L2RpY3Q+CiAg
			ICAgICAgICA8a2V5PlN0ZXBDb250ZXh0RGljdDwva2V5PgogICAg
			ICAgICAgPGRpY3Q+CiAgICAgICAgICAgIDxrZXk+Tm9ybWFsPC9r
			ZXk+CiAgICAgICAgICAgIDxkYXRhPgpzQW9BQUFBQUFRSUVBQUFD
			QWdBQVZRQnVBSE1BY0FCbEFHTUFhUUJtQUdrQVpRQmtEQUFIL3dj
			QUFFSUFBQUFqQkFBQUFnQ0JBSEFBCmN3QjBBR0VBZEFCbEFITUtB
			QUFHQXdBQWdBQnRBR2tBYmdCd0FITUFkQUJoQUhRQVpRMEFBSUFB
			YlFCdUFIUUFjQUJ6QUhRQVlRQjAKQUdVTkFBQ0FBRzRBY0FCekFI
			UUFZUUIwQUdVQWMvOEEvd0QvQVA4QS93Q3lBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QgpBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBCkFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEEKQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQv
			QVFBRC93QUxEd0FBL3dFQQpBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BB
			QUQvQVFBRC93QUxEd0FBCi93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FB
			c1BBQUQvQVFBRC93QUwKRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1BBQUQvQVFBRAovd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhC
			QUFQL0FBc1BBQUQvCkFRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFB
			UDhCQUFQL0FBc1AKQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEFBUDhCQUFQLwpBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QUN3OEFBUDhCCkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTENnQUFBUW9B
			QUdRQUFBQUYKQ0FBQUFRQUFCZjhBQVFBQUFBRUFBQUFCQmdBQVpR
			QUFBQTRJQUFBQ0FBQUYvd0FCQUFBQUFnQUFBQUlHQUFCa0FBQUFB
			d0FBQUFJRwpBQUFEQUFBRi93QUJBQUFBQXdBQUFBTUdBQUJsQUFB
			QURnUUFBQUVDQUFBRUFBQUYvd0FCQUFBQUJBQUFBQVFHQUFCa0FB
			QUFCUUFBCkFBUUdBQUFGQUFBRi93QUJBQUFBQlFBQUFBVUdBQUJr
			QUFBQUF3QUFBQUlHQUFBR0FBQUYvd0FCQUFBQUJnQUFBQVlHQUFC
			a0FBQUEKQXdBQUFBTUdBQUFIQUFBRi93QUJBQUFBQndBQUFBY0dB
			QUJuQ2dBQUNBQUFCZjhBQVFBQUFBZ0FBQUFJQmdBQWFRb0FBQWtB
			QUFYLwpBQUVBQUFBSkFBQUFDUVlBQUdRQUFBQURBQUFBQWdZQUFB
			b0FBQVgvQUFFQUFBQUtBQUFBQ2dZQUFHWUtBQUFMQUFBRi93QUJB
			QUFBCkN3QUFBQXNHQUFCbEFBQUFEZ1FBQUFJQ0FBQU1BQUFGL3dB
			QkFBQUFEQUFBQUF3R0FBQmtBQUFBQlFBQUFBSUdBQUFOQUFBRi93
			QUIKQUFBQURRQUFBQTBHQUFCa0FBQUFBd0FBQUFJR0FBQU9BQUFG
			L3dBQkFBQUFEZ0FBQUE0R0FBQmtBQUFBQXdBQUFBTUdBQUFQQUFB
			Rgovd0FCQUFBQUR3QUFBQThHQUFCbkNnQUFFQUFBQmY4QUFRQUFB
			QkFBQUFBUUJnQUFhUW9BQUJFQUFBWC9BQUVBQUFBUkFBQUFFUVlB
			CkFHUUFBQUFEQUFBQUFnWUFBQklBQUFYL0FBRUFBQUFTQUFBQUVn
			WUFBR1lLQUFBVEFBQUYvd0FCQUFBQUV3QUFBQk1HQUFCbEFBQUEK
			RGdRQUFBTUNBQUFVQUFBRi93QUJBQUFBRkFBQUFCUUdBQUJrQUFB
			QUJRQUFBQVFHQUFBVkFBQUYvd0FCQUFBQUZRQUFBQlVHQUFCawpB
			QUFBQlFBQUFBTUdBQUFXQUFBRi93QUJBQUFBRmdBQUFCWUdBQUJr
			QUFBQUF3QUFBQUlHQUFBWEFBQUYvd0FCQUFBQUZ3QUFBQmNHCkFB
			QmtBQUFBQXdBQUFBTUdBQUFZQUFBRi93QUJBQUFBR0FBQUFCZ0dB
			QUJuQ2dBQUdRQUFCZjhBQVFBQUFCa0FBQUFaQmdBQWFBb0EKQUJv
			QUFBWC9BQUVBQUFBYUFBQUFHZ1lBQUdrS0FBQWJBQUFGL3dBQkFB
			QUFHd0FBQUJzR0FBQmtBQUFBQXdBQUFBSUdBQUFjQUFBRgovd0FC
			QUFBQUhBQUFBQndHQUFCbUNnQUFIUUFBQmY4QUFRQUFBQjBBQUFB
			ZEJnQUFaUUFBQUE0RUFBQUVBZ0FBSGdBQUJmOEFBUUFBCkFCNEFB
			QUFlQmdBQVpBQUFBQU1BQUFBQkJnQUFId0FBQmY4QUFRQUFBQjhB
			QUFBZkJnQUFaUUFBQUE0RUFBQUZBZ0FBSUFBQUJmOEEKQVFBQUFD
			QUFBQUFnQmdBQUR3QW5DUUFBSVFBQUJmOEFBZ0lBQUNFR0FBQUJB
			QUFBRGdRQUFBVUNBQUFpQUFBRi93QUNBQUFBQVFBQQpBQ0lHQUFB
			Q0FBQUFCQUVBQUlBQXd3QzNBQzRBTkFBTEFBQUFJd0FBQUNJQUFB
			QWlBQUFBSXdBQUFBTUNBQUFqQmdBQUFRQUFBQTRFCkFBQUZBZ0FB
			SkFBQUJmOEFCQUlBQUNRR0FBQUpBQUFBQkFBQUFNZ0dBQUFsQUFB
			Ri93QUVBQUFBQVFBQUFDVUVBQUNBQUFBQUNnb0EKQUNrQUFBQW1B
			QUFBS1FBQUFDWUFBQUFFQUFBQUFnQUFBQ1lHQUFBSEFBQUFBUUFB
			QVBVQUFRVUFBQ2NBQUFYL0FBUUFBQUFEQUFBQQpKd1lBQUFJQUFB
			QUVBQUFBb0FBUEJRQUFLQUFBQUNFQUFBQWhBQUFBS0FBQUFBUUFB
			QUFFQUFBQUtBWUFBQWdLQUFBa0FBQUYvd0FGCkFnQUFLUVlBQUFF
			QUFBQU9CQUFBQkFJQUFDb0FBQVgvQUFZQ0FBQXFCZ0FBQWdBQUFB
			UUFBQURRQUFjRkFBQXVBQUFBS3dBQUFDNEEKQUFBckFBQUFCZ0FB
			QUFFQUFBQXJCZ0FBQndBQUFBRUFBQUQxQUFFRkFBQXNBQUFGL3dB
			R0FBQUFBZ0FBQUN3R0FBQUNBQUFBQkFBQQpBS0FBRHdVQUFDMEFB
			QUFoQUFBQUlRQUFBQzBBQUFBR0FBQUFBd0FBQUMwR0FBQUlDZ0FB
			S2dBQUJmOEFCd0lBQUM0R0FBQUJBQUFBCkRnUUFBQU1DQUFBdkFB
			QUYvd0FJQWdBQUx3WUFBQUlBQUFBRUFBQUFyQUFOQlFBQU13QUFB
			REFBQUFBekFBQUFNQUFBQUFnQUFBQUIKQUFBQU1BWUFBQWNBQUFB
			QkFBQUE5UUFCQlFBQU1RQUFCZjhBQ0FBQUFBSUFBQUF4QmdBQUFn
			QUFBQVFBQUFDZ0FBOEZBQUF5QUFBQQpJUUFBQUNFQUFBQXlBQUFB
			Q0FBQUFBTUFBQUF5QmdBQUNBb0FBQzhBQUFYL0FBa0NBQUF6QmdB
			QUFRQUFBQTRFQUFBQ0FnQUFOQUFBCkJmOEFDZ0lBQURRR0FBQUNB
			QUFBQkFBQUFLd0FEUVVBQURnQUFBQTFBQUFBT0FBQUFEVUFBQUFL
			QUFBQUFRQUFBRFVHQUFBSEFBQUEKQVFBQUFQVUFBUVVBQURZQUFB
			WC9BQW9BQUFBQ0FBQUFOZ1lBQUFJQUFBQUVBQUFBb0FBUEJRQUFO
			d0FBQUNFQUFBQWhBQUFBTndBQQpBQW9BQUFBREFBQUFOd1lBQUFn
			S0FBQTBBQUFGL3dBTEFnQUFPQVlBQUFFQUFBQU9CQUFBQVFJQUFE
			a0FBQVgvQUF3Q0FBQTVCZ0FBCkFnQUFBQVFBQUFEUUFBY0ZBQUE5
			QUFBQU9nQUFBRDBBQUFBNkFBQUFEQUFBQUFFQUFBQTZCZ0FBQndB
			QUFBRUFBQUQxQUFFRkFBQTcKQUFBRi93QU1BQUFBQWdBQUFEc0dB
			QUFDQUFBQUJBQUFBS0FBRHdVQUFEd0FBQUFoQUFBQUlRQUFBRHdB
			QUFBTUFBQUFBd0FBQUR3RwpBQUFJQ2dBQU9RQUFCZjhBRFFJQUFE
			MEdBQUFCQUFBQURnZ0FBRDRBQUFYL0FBNENBQUErQmdBQUFnQUFB
			QVFCQUFDQUFNTUF0d0F1CkFEUUFDd0FBQUQ0QUFBQS9BQUFBUGdB
			QUFEOEFBQUFPQUFBQUFRQUFBRDhHQUFBSEFBQUFBUUFBQVBVQUFR
			VUFBRUFBQUFYL0FBNEEKQUFBQ0FBQUFRQVlBQUFJQUFBQUVBQUFB
			b0FBUEJRQUFRUUFBQUNFQUFBQWhBQUFBUVFBQUFBNEFBQUFEQUFB
			QVFRWUFBQWdLQUFBKwpBQUFGL3c9PQo8L2RhdGE+CiAgICAgICAg
			ICAgIDxrZXk+QmFja2dyb3VuZDwva2V5PgogICAgICAgICAgICA8
			ZGF0YT4KNGdVQUFBQUFBUUlFQUFBQkFnQUFZZ0JyQUdjQWNnQnVB
			R1FBY0FCbEFXWUFZd0JwQUdVQWJnQjBCQUFBQWdJQUIvOEhBQUFZ
			QUFBQQpEUVFBQUFJQWdRQmlBR2NBY0FCekFIUUFZUUIwQUdVQWN3
			Z0FBQUlEQUFDQUFHMEFhUUJ1QUhBQWN3QjBBR0VBZEFCbERRQUFn
			QUJ0CkFHNEFkQUJ3QUhNQWRBQmhBSFFBWlEwQUFJQUFiZ0J3QUhN
			QWRBQmhBSFFBWlFCei93RC9BUDhBL3dEL0FMSUFBUDhCQUFQL0FB
			c1AKQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQ
			LwpBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhC
			CkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEEK
			QVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QQpD
			dzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBCkEv
			OEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEKL3dF
			QUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93
			RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTApEd0FB
			L3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFECi93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC8KQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUApBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvCkFBc0tBQUFC
			Q2dBQVpBQUFBQVVBQUFBQ0JnQUFBUUFBQmY4QUFRQUFBQUVBQUFB
			QkJnQUFaQUFBQUFNQUFBQUNCZ0FBQWdBQUJmOEEKQVFBQUFBSUFB
			QUFDQmdBQVpBQUFBQU1BQUFBREJnQUFBd0FBQmY4QUFRQUFBQU1B
			QUFBREJnQUFad29BQUFRQUFBWC9BQUVBQUFBRQpBQUFBQkFZQUFH
			a0tBQUFGQUFBRi93QUJBQUFBQlFBQUFBVUdBQUJrQUFBQUF3QUFB
			QUlHQUFBR0FBQUYvd0FCQUFBQUJnQUFBQVlHCkFBQm1DZ0FBQndB
			QUJmOEFBUUFBQUFjQUFBQUhCZ0FBWlFBQUFBNElBQUFJQUFBRi93
			QUJBQUFBQ0FBQUFBZ0dBQUJrQUFBQUF3QUEKQUFFR0FBQUpBQUFG
			L3dBQkFBQUFDUUFBQUFrR0FBQmxBQUFBRGdRQUFBRUNBQUFLQUFB
			Ri93QUJBQUFBQ2dBQUFBb0dBQUFQQUNjSgpBQUFMQUFBRi93QUNB
			Z0FBQ3dZQUFBRUFBQUFPQkFBQUFRSUFBQXdBQUFYL0FBSUFBQUFC
			QUFBQURBWUFBQUlBQUFBRUFRQUFnQURECkFMY0FMZ0EwQUFzQUFB
			QU5BQUFBREFBQUFBd0FBQUFOQUFBQUF3SUFBQTBHQUFBQkFBQUFE
			Z1FBQUFFQ0FBQU9BQUFGL3dBRUFnQUEKRGdZQUFBa0FBQUFFQUFB
			QXlBWUFBQThBQUFYL0FBUUFBQUFCQUFBQUR3UUFBSUFBQUFBS0Nn
			QUFFd0FBQUJBQUFBQVRBQUFBRUFBQQpBQVFBQUFBQ0FBQUFFQVlB
			QUFjQUFBQUJBQUFBOVFBQkJRQUFFUUFBQmY4QUJBQUFBQU1BQUFB
			UkJnQUFBZ0FBQUFRQUFBRElCZ0FBCkVnQUFBQXNBQUFBTEFBQUFF
			Z0FBQUFRQUFBQUVBQUFBRWdZQUFBZ0tBQUFPQUFBRi93QUZBZ0FB
			RXdZQUFBRUFBQUFPQ0FBQUZBQUEKQmY4QUJnSUFBQlFHQUFBQ0FB
			QUFCQUVBQUlBQXd3QzNBQzRBTkFBTEFBQUFGQUFBQUJVQUFBQVVB
			QUFBRlFBQUFBWUFBQUFCQUFBQQpGUVlBQUFjQUFBQUJBQUFBOVFB
			QkJRQUFGZ0FBQmY4QUJnQUFBQUlBQUFBV0JnQUFBZ0FBQUFRQUFB
			RElCZ0FBRndBQUFBc0FBQUFMCkFBQUFGd0FBQUFZQUFBQURBQUFB
			RndZQUFBZ0tBQUFVQUFBRi93PT0KPC9kYXRhPgogICAgICAgICAg
			PC9kaWN0PgogICAgICAgICAgPGtleT5jdHJsbG9vcC1pZDwva2V5
			PgogICAgICAgICAgPGludGVnZXI+MDwvaW50ZWdlcj4KICAgICAg
			ICAgIDxrZXk+aXMtc3RhdGUtZHJpdmVuPC9rZXk+CiAgICAgICAg
			ICA8aW50ZWdlcj4xPC9pbnRlZ2VyPgogICAgICAgIDwvZGljdD4K
			ICAgICAgICA8ZGljdD4KICAgICAgICAgIDxrZXk+Q29udHJvbElE
			QXJyYXk8L2tleT4KICAgICAgICAgIDxhcnJheT4KICAgICAgICAg
			ICAgPGludGVnZXI+MTY8L2ludGVnZXI+CiAgICAgICAgICAgIDxp
			bnRlZ2VyPjE3PC9pbnRlZ2VyPgogICAgICAgICAgICA8aW50ZWdl
			cj4xODwvaW50ZWdlcj4KICAgICAgICAgIDwvYXJyYXk+CiAgICAg
			ICAgICA8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CiAgICAgICAgICA8
			c3RyaW5nPlNNQ19HUFVfUmFuZ2VfQ29udHJvbF9Mb29wPC9zdHJp
			bmc+CiAgICAgICAgICA8a2V5PkdQVUNvbnRyb2xJbmZvRGljdDwv
			a2V5PgogICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAgIDxrZXk+
			TWFjQm9va1BybzgsMzwva2V5PgogICAgICAgICAgICA8c3RyaW5n
			PkNJQTg8L3N0cmluZz4KICAgICAgICAgICAgPGtleT5DSUE4PC9r
			ZXk+CiAgICAgICAgICAgIDxhcnJheT4KICAgICAgICAgICAgICA8
			aW50ZWdlcj4xNTwvaW50ZWdlcj4KICAgICAgICAgICAgICA8aW50
			ZWdlcj4xNzwvaW50ZWdlcj4KICAgICAgICAgICAgICA8aW50ZWdl
			cj4xNjwvaW50ZWdlcj4KICAgICAgICAgICAgPC9hcnJheT4KICAg
			ICAgICAgIDwvZGljdD4KICAgICAgICAgIDxrZXk+SU9DbGFzczwv
			a2V5PgogICAgICAgICAgPHN0cmluZz5BQ1BJX1NNQ19HUFVfQ3Ry
			bExvb3A8L3N0cmluZz4KICAgICAgICAgIDxrZXk+UExpbWl0Q2xh
			c3M8L2tleT4KICAgICAgICAgIDxhcnJheT4KICAgICAgICAgICAg
			PHN0cmluZz5HUFU8L3N0cmluZz4KICAgICAgICAgIDwvYXJyYXk+
			CiAgICAgICAgICA8a2V5Pk1ldGFTdGF0ZUFycmF5PC9rZXk+CiAg
			ICAgICAgICA8YXJyYXk+CiAgICAgICAgICAgIDxkaWN0PgogICAg
			ICAgICAgICAgIDxrZXk+RGVzY3JpcHRpb248L2tleT4KICAgICAg
			ICAgICAgICA8c3RyaW5nPk5vcm1hbDwvc3RyaW5nPgogICAgICAg
			ICAgICA8L2RpY3Q+CiAgICAgICAgICAgIDxkaWN0PgogICAgICAg
			ICAgICAgIDxrZXk+RGVzY3JpcHRpb248L2tleT4KICAgICAgICAg
			ICAgICA8c3RyaW5nPlJlZHVjZWQgUG93ZXI8L3N0cmluZz4KICAg
			ICAgICAgICAgPC9kaWN0PgogICAgICAgICAgICA8ZGljdD4KICAg
			ICAgICAgICAgICA8a2V5PkRlc2NyaXB0aW9uPC9rZXk+CiAgICAg
			ICAgICAgICAgPHN0cmluZz5Vc2VyIExvdyBQb3dlcjwvc3RyaW5n
			PgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgIDxkaWN0
			PgogICAgICAgICAgICAgIDxrZXk+RGVzY3JpcHRpb248L2tleT4K
			ICAgICAgICAgICAgICA8c3RyaW5nPlVzZXIgSGlnaCBQb3dlcjwv
			c3RyaW5nPgogICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICA8
			L2FycmF5PgogICAgICAgICAgPGtleT5jdHJsbG9vcC1pZDwva2V5
			PgogICAgICAgICAgPGludGVnZXI+MzwvaW50ZWdlcj4KICAgICAg
			ICA8L2RpY3Q+CiAgICAgIDwvYXJyYXk+CiAgICA8L2RpY3Q+CiAg
			PC9kaWN0Pgo8L3BsaXN0Pgo=
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
